* {
  padding: 0;
  margin: 0;
  font-family: Poppins, Arial, sans-serif;
}

.section-1 {
  background-image: url(/Hero-Background.png);
  background-size: cover;
  height: 100vh;
  margin: auto;
  background-attachment: fixed;
}
.nav-1 {
  height: 2rem;
  background-color: #207dff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-card {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.contact-card-first-part {
  display: flex;
  gap: 10px;
  color: white;
  font-size: 0.9rem;
}

.contact-card-2 {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}
.seprate-line {
  height: 0.9rem;
  width: 0.2px;
  background-color: rgba(255, 255, 255, 0.296);
}
.sign-up-button-setting {
  display: flex;
  gap: 10px;
  a {
    font-weight: 200;
    font-size: 0.9rem;
  }
}

.nav-2 {
  height: 4.1rem;
  background-color: rgba(255, 255, 255, 0.552);
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  padding: 0.8rem;
}
.nav-2-first-part {
  a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 1000;
  }
}


.wrap-class{
    display: flex;
}



.nav-2-first-part-2 {
  display: flex;
  gap: 25px;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
    /* border-bottom: 2px solid transparent;
    transition: border-color 1s; */
    /* animation-name: border-bottom-styling;
    animation-duration: 2s; */
    position: relative;
  }

  /* .nav-2-first-part-2 a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
  } */

  button {
    background-color: #fe5f55;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 1rem;

    &:hover {
      background-color: #207dff;
      cursor: pointer;
    }
  }
}

@keyframes border-bottom-styling {
  0% {
    transform: scale(0.1);
  }
  10% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(0.3);
  }
  30% {
    transform: scale(0.4);
  }
  40% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(0.55);
  }
  70% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(0.7);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.nav-2-first-part-2 a:hover {
  border-bottom-color: #207dff;
}
.sub-section-1 {
  margin-left: 12%;
  margin-top: 5%;
  width: 29rem;
  height: 23.5rem;
  display: flex;
  flex-direction: column;
  h6 {
    color: #207dff;
    font-size: 0.8rem;
  }
  h1 {
    margin-top: 2rem;
    font-size: 4.2rem;
    font-weight: bolder;
  }
  p {
    opacity: 0.5;
    margin-top: 2rem;
  }
  button {
    margin-top: 2rem;
    width: fit-content;
    padding: 1rem 1.7rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    border: none;
    background-color: #207dff;
    color: white;
    cursor: pointer;
  }
}


.hamburger{
    cursor: pointer;
   color:white;
   display: none;
}
/* <!-- ===============================================================Section 2 ================================================================== --> */
.section-2{
 height: 100vh;

}
.container-2{
    display: flex;
    height: 100%;
   width: 80%;
    margin: auto;
    img{
        height: 100%;
        width: 40%;
    };
}
.inside-container-2{
    width:42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 0%; */
    padding-left: 5%;
    h1{
        font-size: 3.2rem;
    }
    p{
        font-size: 1.1rem;
        padding-top: 7%;
        opacity: 0.5;
        line-height: 2rem;
        font-weight: 500;
    }
}
.container-2-first-button{
    margin-top: 2rem;
    width: fit-content;
    padding: 1rem 1.7rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    border: none;
    background-color: #207dff;
    color: white;
    cursor: pointer;
}
.container-2-second-button{
    margin-top: 2rem;
    width: fit-content;
    padding: 1rem 1.7rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    border: none;
    background-color:  #fe5f55;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: transparent;
        border:1px solid #fe5f55;
        color:#fe5f55;
    }
}
.Mediplus-styling-of-container-2{
    color: #207dff;
}

/* <!-- ===============================================================Section 3 ================================================================== --> */


.container-3{
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;

}
.container-3-our-services{
    display: flex;
    flex-direction: column;
height: 4rem;
width: 15rem;
    background-color: gray;
}
.inside-container-3{
    width: 80%;
    background-color: green;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.container-3-part-1{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
place-items: center;
row-gap: 1rem;
/* display: flex;
justify-content: center;
align-items: center; */
height: 100%;
width: 55%;
background-color: red;

}
.container-3-card{
    width: 17.2rem;
    height: 18.3rem;
    display: flex;
    gap:2rem;
  
    padding: 1rem;
    background-color: yellow;
    
}
.container-3-icon{
    height: 5rem;
    width: 5rem;
    background-color: #ffeeed;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 2.2rem;
        color:#fe5f55;
        padding: 1rem;
    }
}
.container-3-data{
    width: 50%;
    h3{
        font-size: 1.3rem;
        font-weight: 500;
    }
p{
    font-size: 1.1rem;
        padding-top: 7%;
        opacity: 0.5;
        line-height: 1.5rem;
        font-weight: 500;
}
}


.container-3-part-2{
    background-color: white;
    width: 40%;
}

.containe-3-part-2-heading{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    h6{
       color: #207dff;
       font-weight: 600;
       letter-spacing: 3px;
    }
}

/* ==============================================using Bootstrap from here======================================================= */

.g-3{
    display: flex;
    flex-direction: column;
}
.col input{
    height: 3rem;
    border-radius: 1rem;
    width: 70%;
    /* margin:auto */
}
.form-control{
    height: 3rem;
    border-radius: 1rem;
    /* margin:auto */
}

.form-select{
    max-width: 67% !important;
    height: 3rem;
    border-radius: 1rem !important;
   
    margin: 2rem auto 0px auto !important;
}
.form-control{
    width: 70% !important;
    height: 3rem;
    border-radius: 1rem !important;
   
    margin: 17px auto 0px auto;
   
}
.form-control-last{
    width: 70% !important;
    height: 3rem;
    border-radius: 1rem !important;
   
    margin: 1rem auto 0px auto !important;
}

.btn-outline-danger{
    height: 3rem !important;
    max-width: 70% !important;
    margin: auto;
    border-radius: 1rem !important;
    background-color: #fe5f55;
}

/* =========================================================section 4 Start from here========================================= */

.container-4{
    height: 31rem;
    background-color: rebeccapurple;
    background-image: url(/section-4.png);
    background-position: center center;
    background-size: cover;
    
}
.inside-container-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
   
    margin: auto;
   padding-top:15% ;
   text-align: center;
   h1{
    font-size: 3rem;
    font-weight: 900;
    color: white;
   }
   p{
    color: white;
    opacity: 0.9;
    margin-top: 2rem;
   }
   button{
    background-color: white;
    border-radius: 1rem;
    padding: 0.8rem 2rem;
    margin-top: 1rem;
    &:hover{
        background-color: white;
    }
   }
   
}



/* =========================================================section 5 Start from here========================================= */

.container-5{
 height: 110vh;
 display: flex;
}
.container-5-image-area{
    width: 30%; 
    height: 100%;
  
    background-image: url(/section-5.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-5-cards-area{
    height: 100%;
    width: 70%;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 grid-template-rows: repeat(3,1fr);
 place-items: center;
}
.container-5-card{
    width:22.1rem;
    height: 16.2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.068);
    transition: background-color 0.3s ease-in-out ;
    i{
        font-size: 1.8rem;
        color: #207dff;
        
    }
}
.container-5-card:hover{
 background-color: #207dff;
 i{
 color: white;
 }
 h2{
    color: white;
 }
 p{
    color: white;
    opacity: 0.8;
 }

}

/* ===================================================section 6 start from here======================================= */


.container-6{
    height: 140vh;
    /* background-color: green; */
}
.container-6-first-part{
    height: 30%;
    max-width:60% ;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap:1rem;
    padding-top: 2rem;
    /* background-color:  yellow; */
    h1{
        font-weight: 800;
    }
    p{
        opacity: 0.8;
    }
}

.container-6-second-part{
    height: 70%;

    /* background-color: aqua; */
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    place-items: center;
}

.container-6-card{
    display: flex;
 
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 32rem;
    /* background-color: aquamarine; */
    text-align: center;
    img{
        height: 19rem;
        width: 20rem;
    }
    h2{
        font-weight: 600;
        font-size: 1.5rem;
        padding-top: 1rem;


    }
    h3{
        color: #207dff;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 600;
    }
}

/* ==================================================7-section start from here===================================== */
.container-7{
    height: 80vh;
    background-image: url(/Hero-Background.png);
    background-position: center center;
    background-size: cover;
    position: relative;
}
.container-7::after{
    position: absolute;
    content: "";
    background-color: #207dff;
    height: 100%;
    width: 100%;
    opacity: 0.75;
}